node_modules/
vendor/

dist/
build/
out/
coverage/

.cache/
.parcel-cache/
.next/
.nuxt/
.svelte-kit/
.vite/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example


.vscode/
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.swp
*.swo

.firebase/
.firebase-debug.log
.firebaserc

logs/
*.log
tmp/
temp/
*.pid
*.tgz
*.zip
